@use "config";

main {
    background-color: config.$background-color;
    display: block;
    margin: 0 auto;
    border: 2px solid config.$border-color;
    overflow: hidden;
}

#logo {
    width: 200px;
    left: 20px;
    top: 20px;
}

#background {
    background-image: url("img/paris.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
body {
    padding: 0;
    margin: 0;
}

#game-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
  background-color: aqua;
}

#player {
  pointer-events: auto;  
}

.block {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
}

/* .scroll logo {
    display: inline-flex;
    animation: circle 30s linear infinite; */